@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
* {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed' !important;
}
html {
  width: 100%;
  height: 100%;
}
html, body {
  background: #2d2d29;
  color: #cbdbd7;
  font-family: 'Open Sans Condensed';
  font-size: 1vmax !important;
}
canvas {
  position: absolute;
  display: inline;
  top: 0%;
  width: 80%;
}
table {
  width: 100%;
}
td {
  padding: 0.5rem;
  color: #2d2d29;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}
#sidebar {
  position: absolute;
  display: inline;
  top: 0%;
  left: 80%;
  width: 20%;
  height: 100%;
  background: #fff;
  padding: 0.5rem;
}
#sidebar h2 {
  padding-top: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}
#sidebar h2:first-child {
  padding-top: 0rem;
}
.relRomoMono {
  background: skyblue;
}
.relRomoPoly {
  background: palegreen;
}
.relQPR {
  background: plum;
}
.relFWB {
  background: tomato;
}
.relDev {
  background: sandybrown;
}


@media screen and (orientation: portrait) and (max-width: 1200px) {
  body { font-size: 2vmax !important; }
  canvas { position: relative !important; display: block; width: 100% !important; }
  td { font-size: 2rem; }
  #sidebar { position: relative !important; display: block; left: 0%; width: 100% !important; }
}

